html,body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    /* Organiza o conteúdo verticalmente */

    background-color: #080707;
}

.container {
    flex: 1;
    /* Faz com que o container principal expanda para ocupar o espaço disponível */
}
