/* _content/RegistrarUsuarios/Views/Shared/_Layout.cshtml.rz.scp.css */
html[b-n0dvydwdqn],body[b-n0dvydwdqn] {
    height: 100%;
    margin: 0;
}

body[b-n0dvydwdqn] {
    display: flex;
    flex-direction: column;
    /* Organiza o conteúdo verticalmente */

    background-color: #080707;
}

.container[b-n0dvydwdqn] {
    flex: 1;
    /* Faz com que o container principal expanda para ocupar o espaço disponível */
}
