@{
    ViewData["Title"] = "Página Inicial";
}

<div class="jumbotron text-center">
    <h1 class="display-4">Bem-vindo ao meu Portfólio!</h1>
    <p class="lead">Aqui você encontrará projetos e informações sobre meu trabalho.</p>
    <hr class="my-4">
    <p>Explore e descubra mais sobre o que eu posso oferecer.</p>
    <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Funcionario" asp-action="Index" role="button">CRUD</a>
    <br /><br/>
    <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Youtube" asp-action="ApiYoutube" role="button">Consumindo API</a>
</div>

